<% @students.each do |student| %>
  <h1><%= student.name %></h1>
  <%= image_tag "#{student.id}.jpg", :size => "500x500" %>
  </br>
  <q>This is a quote from <%= student.name %>.</q>
  <p>This is a bio for <%= student.name %>. Blah. Blah. Blah.</p>
  <p><%= link_to "Home", :root %></p>
<% end %>