<!DOCTYPE html>
<html>
  <head>
    <title>Nashville Software School Yearbook</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <section id="log_in">
      <% unless current_user %>
        <%= link_to "Log In", new_user_session_path %>
      <% end %>
    </section>

    <h1>Nashville Software School Yearbook</h1>
    <%= render 'students/form' %>
  </header>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>