<!DOCTYPE html>
<html>
  <head>
    <title>Nashville Software School Yearbook</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <header>
    <h1><%= link_to "Nashville Software School Yearbook - Class of 2013", :root, :style => 'text-decoration: none' %></h1>
  </header>

  <body>
    <ul id ="menu">
      <% unless current_user %>
        <li><button id="log_in_button" class="button">
          <%= link_to "Log In", new_user_session_path, :style => 'text-decoration: none' %>
        </button></li>
      <% end %>
      <% if current_user %>
         <li><button id="log_in_button" class="button">
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete, :style => 'text-decoration: none' %>
        </button></li>
      <% end %>
      <li><button id="instructor_button" class="button">
        <%= link_to "Instructors", instructors_path, :style => 'text-decoration: none' %>
      </button></li>
      <li><button id="student_button" class="button">
        <%= link_to "Students", students_path, :style => 'text-decoration: none' %>
      </button></li>
      <li><button id="vote_button" class="button">
        <%= link_to "Vote", new_ballot_path, :style => 'text-decoration: none' %>
      </button></li>
    </ul>

    <div id="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>

  </body>

  <footer>
    A Shay Narang Production
  </footer>
</html>